people {
	background-color: lightsteelblue;
	display: block;
	padding: 10px;
	font-family: sans-serif;
}

person {
	background-color: chartreuse;
	border: 2px solid black;
	display: block;
	margin-bottom: 10px;
}

name {
	font-weight: bold;
	display: block;
}
name:before {content: "Name: "}
name:after {content: " (" attr(status) ")"}

birthdate {
	display: block;
}
birthdate:before {content: "Birthdate: "}

eyes {
	display: block;
}
eyes:before {content: "Eye color: "}